<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body>
<div class="container">
     <ul class="nav nav-pills">
         <li class="active"><a href="#">主页</a></li>
         <li ><a href="#">注册</a></li>
         <li ><a href="#">登录</a></li>
         <li ><a href="#">主页</a></li>
     </ul>
</div>