<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="/javascripts/jquery-1.11.1.min.js"></script>
</head>
<body>
<div class="foo">222</div>
<div class="foo">333</div>
<div class="foo">444</div>
<p>bddbf</p>
<p>gdfd</p>
</body>
   <script>
       $(function () {
           $("p").insertBefore($(".foo"));
       })
   </script>
</html>