<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="/javascripts/jquery-1.11.1.min.js"></script>
</head>
<style>
    .a{color: red}
</style>
<body>

<div style="background: green">dasdasd</div>
</body>
     <script>


     </script>
</html>