.l_logo{
    color: #2b542c;
    padding: 20px 0;
}
.l_kuang{
    padding: 20px;border: 1px solid #ddd;
    background: -webkit-linear-gradient(#fff, #eee,#fff); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#fff, #eee,#fff); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#fff, #eee,#fff); /* Firefox 3.6 - 15 */
    background: linear-gradient(#fff, #eee,#fff); /* 标准的语法 */
    margin-top: 30px;font-size: 20px;font-weight: bold;
}
.show_xian{
    border-top: 1px dashed #ddd; margin: 10px ;
}
.show_title{
    color: #4cae4c;font-size: 20px;margin-bottom: 10px;
}
.show_post{
    color: #000;font-weight:normal ;font-size: 14px;
}